.about{
  background-color: black;
  margin-left: 20px;
  margin-right: 20px;
  color: #f2f2f2;
  min-height: 100vh;
  padding-bottom: 20px;

  &__top{

    &__img{
      margin-top: 50px;
      width: 300px;
    }

  }

  &__main{
    margin-left: 25vw;
    margin-top: 60px;

    &__profile{
      max-width: 800px;

      &__contact{
        display: flex;
        flex-direction: row;

      }

      &__images{
        display: flex;
        flex-direction: row;
        margin-left: 50px;

        &__item{
          display: flex;
          flex-direction: column;
          margin-right: 100px;
        }
      }
    }

    &__process{
      max-width: 800px;
    }

    &__capabilities{
      max-width: 800px;
    }
  }
}

.aboutContainer{
  background-color: black;
  width: 100%;
  z-index: 9;
  position: fixed;
}

.about__link,
.about__slash{
  display: inline;
  font-family: sans-serif;
  font-size: 25px;
  color: #606060;
  transition: all .5s;
}

.about__link{
  font-weight: lighter;
}

.about__link:hover{
  cursor: pointer;
  color: #cbcbcb;
}

.about__selected{
  color: #cbcbcb;
}

.about__slash{
  font-weight: 600;
}

.about__text{
  font-size: 20px;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 100;
  line-height: 22px;
}

.about__profName{
  font-family: sans-serif;
  color: #f2f2f2;
  font-size: 18px;
}

.about__email{
  font-family: sans-serif;
  text-decoration: none;
  color: #606060;
  font-size: 16px;
  transition: all .5s;
}

.about__email:hover{
  color:white;
}

.about__hide{
  display: none;
}

/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {

}

@media (max-width: 960px) {

}

@media (max-width: 720px) {
  .about__main{
    margin-left: 0px;
  }


  .about__picture{
    display: none;
  }

  .about__main__profile__images{
    flex-direction: column;
  }

  .about__main__profile__images__item{
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .about__text{
    font-size: 18px;
  }

  .about__profName{
    font-size: 16px;
  }

  .about__email{
    font-size: 15px;
  }

}
