.portHeader{
  font-size: 45px;
  font-family: 'Cinzel', serif;
}
.portItalic{
  font-size: 45px;
  font-family: 'Cinzel', serif;
  font-style: italic;
}
.portText{
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.backbutton{
  position: absolute;
  top: 20px;
  left: 20px;
}
