.audio{

  &__content{
    margin-left: 10vw;
    margin-right: 10vw;

    &__album{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 150px;

      &__tilt{
        height: 400px;
        width: 400px;

        &__cover{
          height: 100%;
          width: 100%;
        }
      }

      &__media{
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        &__play{
          width: 60px;
          font-family: sans-serif;
        }

        &__input{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80%;
          margin-left: 10px;
          margin-right: 10px;
        }

        &__volume{
          display: flex;

          &__mute{
            height: 20px;
            width: 20px;
            margin-right: 3px;
          }
        }
      }
    }

    &__text{
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

.audio__content__album__media__play:hover,
.audio__content__album__media__volume__mute:hover{
  cursor: pointer;
}
