.video{

  &__content{
    margin-left: 10vw;
    margin-right: 10vw;

    &__video{

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 120px;

      &__container{
        height:400px;
        width: 700px;
      }

      &__media{
        width: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__playing{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 70px;

          &__play{
            font-family: sans-serif;
            width: 80px;
          }

          &__fullscreen{
            width: 30px;
            height: 30px;
          }
        }

        &__input{
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 75%;
          margin-left: 10px;
          margin-right: 10px;
        }

        &__volume{
          display: flex;

          &__mute{
            height: 20px;
            width: 20px;
            margin-right: 3px;
          }
        }



      }

    }

    &__text{
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

.video__content__album__media__volume__mute{
  height: 20px;
  width: 20px;
  margin-right: 3px;
}

.fullscreen:hover{
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.video__content__video__media__playing__play:hover,
.video__content__album__media__volume__mute:hover{
  cursor: pointer;
}

.videoHeader{
  font-size: 45px;
  font-family: 'Cinzel', serif;
}

.videoItalic{
  font-size: 45px;
  font-family: 'Cinzel', serif;
  font-style: italic;
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {


}

@media (max-width: 960px) {


}

@media (max-width: 760px) {
  .video__content{
    margin-left: 10px;
    margin-right: 10px;
  }

  .video__content__video__container,
  .video__content__video__media{
    width: 100%;
  }
  .video__content__video__container{
  height: 55vw;
  }
  .videoHeader,
  .videoItalic{
    font-size: 6vw;
  }



}

@media (max-width: 480px) {
  .videoHeader,
  .videoItalic{
    font-size: 28px;
  }
  }
