.visual{

  &__carouselContainer{
    position: relative;

    &__loader{
      position: absolute;
      width: 500px;
      z-index: 10;
      top: 50px;
      left: 30%;
      -webkit-animation: loadingAnimation 1s infinite alternate; /* Safari 4.0 - 8.0 */
      animation: loadingAnimation 1s infinite alternate;
    }

    &__carousel{
      background: #fff !important;
      margin-top: 50px;
      width: 100%;
      overflow: hidden;
      opacity: 0;
      transition: all 1s;
    }

    &__navBar{
      width: 100%;
      height: 100px;
      margin-bottom: 50px;
      overflow: hidden;
      opacity: 0;
      transition: all 1s;
    }

  }

  &__content{
    margin-left: 10vw;
    margin-right: 10vw;

    &__text{
      width: 80%;
    }

    &__rowPhoto{
      width: 100%;
      height: calc(100vh - 20rem);
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &__twoPoster{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

        &__item{

          &__poster{
            width: 38vw;
            height: 400px;
          }

          &__text{

          }
        }
    }

    &__blurb{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__threePoster{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__item{
        width:30%;

        &__card{
          width: 100%;
        }
      }
    }
  }
}

.visualTitle{
  margin-bottom: 20px;
}

.card{
  margin: 10px;
  height: calc(100vh - 15rem);
}

.caroImg{
  height: calc(100vh - 15rem);
  pointer-events: none;
}

.navCard{
  height: 100px;
  margin: 2px;
  opacity: .5;
  transition: opacity 1s;
}

.navImg{
  height: 100px;
  pointer-events: none;
}

.flickity-viewport:focus,
.visual__carouselContainer__carousel,
.visual__carouselContainer__navBar{
  outline: none;
}

.galleryLoaded{
  opacity: 1;
}

.navCard.is-selected{
  opacity: 1;
}

.linebreak{
  margin-bottom: 10px;
}


//Animations

@-webkit-keyframes loadingAnimation {
    0%   {
      -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(1); /* IE 9 */
      transform: scale(1);
    }
    100% {
      -webkit-transform: scale(1.2); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
      -ms-transform: scale(1.2); /* IE 9 */
      transform: scale(1.2);
    }
}

/* Standard syntax */
@keyframes loadingAnimation {
  0%   {
    -webkit-transform: scale(1); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(1); /* IE 9 */
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
  }
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {


}

@media (max-width: 900px) {
  .card{
    width: 80vw;
    height: calc(100vh - 15rem);
    position: relative;
  }

  .cardImg{
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
  }

}

@media (max-width: 760px) {
  .cardImg{
    width: 100%;
    height: 100%;
  }

}

@media (max-width: 480px) {
}
