.visual{

  &__carousel{
    background: #fff !important;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
  }

  &__content{
    margin-left: 10vw;
    margin-right: 10vw;

    &__text{
      width: 80%;
    }

    &__rowPhoto{
      width: 100%;
      height: calc(100vh - 20rem);
      margin-top: 10px;
      margin-bottom: 20px;
    }

    &__twoPoster{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

        &__item{

          &__poster{
            width: 38vw;
            height: 400px;
          }

          &__text{
            
          }
        }
    }

    &__blurb{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }

    &__threePoster{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__item{
        width:30%;

        &__card{
          width: 100%;
        }
      }
    }
  }
}

.visualTitle{
  margin-bottom: 20px;
}

.carousel{
  background: #fff !important;
  width: 100%;

}

.card{
  margin: 10px;
  height: calc(100vh - 15rem);
  width: 310px;
}

.caroImg{
  height: calc(100vh - 15rem);
  pointer-events: none;
}

.flickity-viewport:focus,
.visual__carousel{
  outline: none;
}
