.capabilities{
  border: solid red 2px;
  background-color: white;
  min-height: 100vh;


  &__content{
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;

    &__nav{
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;

      &__header{
          margin-right: 100px;
      }
    }

    &__gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__item{
        margin: 20px;

      }
    }
  }
}


.capabilities__header{
  font-size: 25px;
}

.capabilities__headLink{
  font-size: 25px;
  opacity: .5;
  margin-right: 20px;
  transition: all .2s;
}

.capabilities__headLink:hover{
  opacity: 1;
}

.capabilities__galleryTitle{
  margin-top: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.capabilities__galleryType{
  font-family: sans-serif;
}
