.capabilities{
  background-color: white;
  min-height: 100vh;


  &__content{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    transition: filter 1s;
    filter: blur(0px);
    -webkit-filter: blur(0px);

    &__nav{
      position: fixed;
      top: -100px;
      z-index: 5;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      background-color: white;
      height: 70px;
      width: 100%;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
      // border-bottom: 10px rgba(128, 128, 128, 0.22) solid;
      transition: top .5s;
      // -webkit-animation: navEnter 1s; /* Safari 4.0 - 8.0 */
      // animation: navEnter 1s;

      &__header{
          margin-right: 8vw;

          &__specialButton{
            position: fixed;
            right: 100px;
          }

          &__specialButtonMobile{
            position: absolute !important;
            right: 50px !important;
            display: none;
          }
      }

      &__selectBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 140px;
        border-bottom: solid 2px #111;
      }
    }

    &__specialNav{
      position: fixed;
      top: -500px;
      z-index: 4;
      height: 300px;
      width: 100%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
      // border-bottom: 10px rgba(128, 128, 128, 0.22) solid;
      overflow: hidden;
      -webkit-transition: top .5s ease-in-out;
      -moz-transition: top .5s ease-in-out;
      -ms-transition: top .5s ease-in-out;
      -o-transition: top .5s ease-in-out;
      transition: top .5s ease-in-out;

    }

    &__threerow{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;

        &__item{
          margin: 20px;
          margin-left: 0px;
          display: flex;
          flex-direction: column;
          transition: 1s all;
          opacity: .3;
          width: 17vw;

          // &__image{
          //   height: calc(100vh - 27rem);
          //   box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
          //   transform: scale(1);
          //   transition: all .5s;
          // }
          //
          // &__image:hover{
          //   box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 9px 2px;
          //   transform: scale(1.05);
          // }

          &__tags{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
          }

        }
    }

    &__tworow{
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__bigItem{
        margin: 20px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        transition: 1s all;
        opacity: .3;

        &__text{
          width: 37vw;
        }
      }

      &__smallItem{
        width: 17vw;
        margin: 20px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        transition: 1s all;
        opacity: .3;
      }
    }

    &__banner{
      margin-top: 50px;
      position: relative;
      opacity: .3;
      transition: all .5s;

      &__overlay{
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all .5s;
        display: flex;
        align-items: center;
      }

      &__overlay:hover{
        background-color: rgba(0, 0, 0, 0.2);
      }


      &__image{
        height: auto;
        width: 100%;
      }

      &__tags{
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.before{
  width: 5px;
  height: 5px;
  margin-left: 6px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.after{
  width: 5px;
  height: 5px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.before:hover,
.after:hover,
.capabilities__content__nav__header__specialButton,
.sideBarCircle{
  cursor: pointer;
}


.navShow{
  top: 0;
}

.specialCard{
  margin-top: 70px;
  height: 250px;
  width: 250px;
  opacity: 0;
}

.specialImg{
  height: 185px;
  width: 185px;
}

.specialText{
  font-family: sans-serif;
}

.showSpecial{
  top: 0;
}

.specialHide{
  top: -1000px;
}

.galleryLoaded{
  opacity: 1;
}

.flickity-viewport:focus,
.capabilities__content__specialNav{
  outline: none;
}

.filterSelect{
  margin-right: 9px;
  font-size: 20px;
  font-family: sans-serif;
}

.capabilities__header{
  font-family: 'Cinzel', serif;
  font-size: 25px;
  margin-left: 70px;
  transition: margin-left .5s;
}

.capabilities__title{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.capabilities__galleryType{
  font-size: 17px;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 10px;
}

.filterOff{
  opacity: 1;
  transition: 1s all;
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.capabilities__image{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px;
  transform: scale(1);
  transition: all .5s;
}

.capabilities__border{
  border: solid 1px rgba(0, 0, 0, 0.20);
}

.capabilities__image:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
  // box-shadow: rgba(0, 0, 0, 0.2) 3px 4px 9px 2px;
  transform: scale(1.025);
}

.capabilities__threeImage,
.capabilities__twoSmallImage{
  width: 17vw;
}

.capabilities__threeLink,
.capabilities__twoSmallLink{
  width: 17vw;
}

.capabilities__twoBigImage{
  width: 42vw;
}

.capabilities__twoBigLink{
  width: 600px;
}


.capabilities__galleryContent{
  margin-left: 10px;
}

.capabilities__details{
  font-size: 19px;
  font-family: cormorant garamond;
  font-weight: 100;
}

.capabilities__tag{
  font-size: 12px;
  font-family: sans-serif;
  border: solid 1px black;
  padding: 2px;
  margin-top: 5px;
  margin-right: 5px;
}

.capabilities__galleryTitle{
  left: 10px;
  color: white;
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bolder;
}

.capabilities__galleryDetails{
  left: 10px;
  color: white;
  font-family: cormorant garamond;
  font-weight: 100;
  font-size: 25px;
  width: 400px;
}

.capabilities__galleryTag{
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
  border: solid .5px white;
  color: white;
  padding: 2px;
  margin-top: 10px;
  margin-right: 10px;
}

.specialImg:hover{
  cursor: pointer;
}



//Animations

@-webkit-keyframes navEnter {
    0%   {
      top: -100px;
    }
    100% {
      top:0;

    }
}

/* Standard syntax */
@keyframes navEnter {
  0%   {
    top: -100px
  }
  100% {
    top: 0;
  }
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {
  .capabilities__title{
    font-size: 1.65vw;
  }

  .capabilities__details{
    font-size: 1.65vw;
  }


}

@media (max-width: 960px) {
  .capabilities__title{
    font-size: 16px;
  }

  .capabilities__details{
    font-size: 16px;
  }

}

@media (max-width: 760px) {

  .capabilities__content{
    margin-left: 0px;
    margin-right: 0px;
  }

  .capabilities__content__threerow,
  .capabilities__content__tworow{
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
  }

  .capabilities__content__threerow__item,
  .capabilities__content__tworow__smallItem{
    flex-direction: row;
    width: 100%;
  }

  .capabilities__content__nav__header__specialButton{
    display: none;
  }
  .capabilities__header{
    margin-left: 40px;
  }

  .capabilities__content__nav__header__specialButtonMobile{
    display: block;
  }

  .capabilities__threeImage,
  .capabilities__threeLink,
  .capabilities__twoSmallImage,
  .capabilities__twoSmallLink {
    width: 130px;
  }

  .capabilities__threeContent{
    position: absolute;
    left: 150px;
  }

  .capabilities__twoBigImage,
  .capabilities__content__tworow__bigItem__text{
    width: 80%;
  }

  .capabilities__galleryTitle{
    font-size: 5.2vw;
  }

  .capabilities__galleryDetails{
    font-size: 3.3vw;
  }

  .capabilities__galleryTag{
    font-size: 2.6vw;
  }


}

@media (max-width: 550px){
  .capabilities__galleryTitle{
    font-size: 28.5px;
  }

  .capabilities__galleryDetails{
    font-size: 18.5px;
  }

  .capabilities__galleryTag{
    font-size: 14px;
  }

  .capabilities__content__banner__image{
    height: 245px;
    width: auto;
  }
}


@media (max-width: 480px) {

  .capabilities__content__nav__selectBox{
    display: none;
  }

}
