.capabilities{
  background-color: white;
  min-height: 100vh;


  &__content{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 50px;
    transition: filter 1s;
    filter: blur(0px);
    -webkit-filter: blur(0px);

    &__nav{
      position: fixed;
      top: -100px;
      z-index: 5;
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      background-color: white;
      height: 70px;
      width: 100%;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
      transition: top .5s;
      // -webkit-animation: navEnter 1s; /* Safari 4.0 - 8.0 */
      // animation: navEnter 1s;

      &__header{
          margin-right: 8vw;

          &__specialButton{
            position: fixed;
            right: 100px;
          }
      }

      &__selectBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 140px;
        border-bottom: solid 2px #111;
      }
    }

    &__specialNav{
      position: fixed;
      top: -500px;
      z-index: 4;
      height: 300px;
      width: 100%;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 5px;
      overflow: hidden;
      -webkit-transition: top .5s ease-in-out;
      -moz-transition: top .5s ease-in-out;
      -ms-transition: top .5s ease-in-out;
      -o-transition: top .5s ease-in-out;
      transition: top .5s ease-in-out;

    }

    &__gallery{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      &__row{
        display: flex;

        &__item{
          margin: 20px;
          margin-left: 0px;
          display: flex;
          flex-direction: column;
          transition: 1s all;
          opacity: .3;

          &__image{
            height: calc(100vh - 27rem);
          }

          &__text{

          }

        }
      }


    }
  }
}

.before{
  width: 5px;
  height: 5px;
  margin-left: 6px;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.after{
  width: 5px;
  height: 5px;
  border-top: 2px solid #000000;
  border-right: 2px solid #000000;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}

.before:hover,
.after:hover,
.capabilities__content__nav__header__specialButton,
.sideBarCircle{
  cursor: pointer;
}


.navShow{
  top: 0;
}

.specialCard{
  margin-top: 70px;
  height: 250px;
  width: 250px;
  opacity: 0;
}

.specialImg{
  height: 200px;
  width: 200px;
}

.specialText{
  font-family: sans-serif;
}

.showSpecial{
  top: 0;
}

.specialHide{
  top: -1000px;
}

.galleryLoaded{
  opacity: 1;
}

.flickity-viewport:focus,
.capabilities__content__specialNav{
  outline: none;
}

.filterSelect{
  margin-right: 9px;
  font-size: 20px;
  font-family: cormorant garamond;
}

.capabilities__header{
  font-family: 'Cinzel', serif;
  font-size: 25px;
  margin-left: 70px;
}

.capabilities__galleryTitle{
  margin-top: 10px;
  font-weight: bold;
  font-family: sans-serif;
  display: inline-block;
}

.capabilities__galleryType{
  font-family: sans-serif;
  display: inline-block;
  margin-left: 10px;
}

.filterOff{
  opacity: 1;
  transition: 1s all;
}

.blur{
  filter: blur(5px);
  -webkit-filter: blur(5px);
}


//Animations

@-webkit-keyframes navEnter {
    0%   {
      top: -100px;
    }
    100% {
      top:0;

    }
}

/* Standard syntax */
@keyframes navEnter {
  0%   {
    top: -100px
  }
  100% {
    top: 0;
  }
}
