.splash{
  min-height: 100vh;
  top: 0;
  font: 'Cinzel';
  position: relative;
  background-color: #102984;
  border-bottom: #dedddd solid 40px;
  position: relative;

  &__content{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;

      &__top{
        margin-top: 50px;

        &__logo{
          width: 300px;
        }
      }

      &__mid{
        min-height: 450px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        position: relative;

        &__img{
          max-height: 400px;
          box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
        }
      }

      &__bot{
        display: flex;
        justify-content: center;
        position: relative;

        &__paraOne{
          max-width: 1500px;
          margin-bottom: 25px;
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          position: relative;

        }

        &__paraTwo{
          margin-left: 30px;
          margin-bottom: 30px;
        }

      }

    }

    &__arrowContainer{
      position: absolute;
      bottom: 30px;
      left: 40px;

        &__arrow{
            width: 13px;
            height: 13px;
            border-bottom: 2px solid #909ecd;
            border-right: 2px solid #909ecd;
            -webkit-transform: translate(-50%, 0%) rotate(45deg);
            -moz-transform: translate(-50%, 0%) rotate(45deg);
            transform: translate(-50%, 0%) rotate(45deg);
            -webkit-animation: move_down 4s ease-in-out infinite;
            -moz-animation: move_down 4s ease-in-out infinite;
            animation: move_down 4s ease-in-out infinite;
        }

    }
  }

.splash__h2,
.splash__contact{
  font-family: sans-serif;
  color: #909ecd;
  font-size: 16px;
  display: inline;
  font-weight: lighter;
}

.splash__contact{
  font-weight: normal;
  text-decoration: underline;
}

.splash__contact:hover{
  color:white;
}

.splash__clients{
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
  color: #5b6896;
}

.splash__bold{
  font-weight: bold;
}
/*
===================================
    ANIMATIONS
===================================
*/

@keyframes move_down {
  0% {
      transform: translate(0,-10px) rotate(45deg);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translate(0,10px) rotate(45deg);
      opacity: 0;
  }
}


/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {

}

@media (max-width: 960px) {

}

@media (max-width: 720px) {

}

@media (max-width: 480px) {

}
